img {
    width: 100px;
    height: 100px;
}

#chosen_selection {
    display: grid;
    place-items: center;
    row-gap: 50px;
}

#page_container {
    place-items: center;
    display: grid;
    margin-top: 135px;
    grid-auto-flow: column;
}

#enemy_container {
    display: grid;
    place-items: center;
    row-gap: 50px;
}

#attack_container {
    display: grid;
    place-items: center;
    row-gap: 25px;
    grid-template-columns: repeat(autofit, minmax(125px, 1fr));

    > button {
        width: 125;
    }
}
